{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="contact center-column">
        <h1>Contact Me</h1>
        <h2>Feel free to reach out to me with any questions or comments. I will get back to you as soon as possible.</h2>
        <form method="POST" class="contact-form-container center-column">
            {% csrf_token %}

            {{ form.name }}

            {{ form.email }}

            {{form.subject}}

            {{ form.message }}
            <button type="submit">Send Message</button>
        </form>
    </section>


{% endblock content %}